body {
  font-family: "Montserrat";
}

.hero {
  height: 90vh;
}

nav {
  background: none;
}

.navbar-nav a {
  text-decoration: none;
  position: relative;
}

.navbar-nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 2.5px;
  background-color: black;
  transition: width 0.3s;
  margin-top: 3px;
}

.navbar-nav a:hover::after {
  width: 100%;
  margin-top: 3px;
}

.hero-text {
  margin-top: 32vh;
}

.current-page {
  color: black;
  font-weight: bold;
}

.myPhoto {
  width: max-content;
  height: max-content;
  background: white;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.myPhoto img {
  width: 321px;
  height: 401px;
  border-radius: 20px;
  filter: grayscale(100%);
}

.desc {
  width: 24rem;
}

.skill-items {
  width: max-content;
}

.work-items {
  text-decoration: none;
  width: max-content;
  background-color: #212529;
}

.work-items:hover {
  background-color: #343a40;
}
